<p-dialog [(visible)]="editPaymentCategoryDialog" [style]="{width: '70vw'}"
          header="Payment Category" [modal]="true"
          styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">


    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="Payment Category">
                <div class="p-grid">
                    <div class="p-field p-col-12 p-md-3">
                        <label for="1">Code<span style="color: red;">*</span></label>
                        <input class="p-mb-2 p-mr-2" type="text" pInputText
                               placeholder="Code"
                               id="1" [(ngModel)]="selectedPaymentCategory.code"
                               [ngClass]="{'ng-invalid ng-dirty' : !_validPaymentCategoryCode}"/>
                        <small class='p-error' *ngIf='!validPaymentCategoryCode'>Code is required.</small>
                    </div>


                    <div class="p-field p-col">
                        <label for="6">Unity Price<span style="color: red;">*</span></label>
                        <p-inputNumber [(ngModel)]="selectedPaymentCategory.unityPrice" id="6"

                                       [ngClass]="{'ng-invalid ng-dirty': !validPaymentCategoryUnityPrice}"></p-inputNumber>
                        <small class="p-error" *ngIf="!validPaymentCategoryUnityPrice">Unity Price is required.</small>
                    </div>


                    <div class="p-field p-col">
                        <label for="6">Duty Engage<span style="color: red;">*</span></label>
                        <p-inputNumber [(ngModel)]="selectedPaymentCategory.dutyEngage" id="6"

                                       [ngClass]="{'ng-invalid ng-dirty': !validPaymentCategoryDutyEngage}"></p-inputNumber>
                        <small class="p-error" *ngIf="!validPaymentCategoryDutyEngage">Duty Engage is required.</small>
                    </div>


                </div>
            </p-tabPanel>

        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer">
        <div class="p-grid">
            <div>
                <button pButton pRipple label="Cancel" icon="pi pi-times"
                        class="p-button-text" (click)="hideEditDialog()"></button>
            </div>
            <div>
                <button pButton pRipple label="Validate" icon="pi pi-check"
                        (click)="edit()"></button>
            </div>
        </div>
    </ng-template>


</p-dialog>